/*说明:

## 读立写生 御用微信排版格式

### 正文设置

- 在「P」字段设置
- 正文字号：17
- 行距(line-height)：2 倍
- 左右段落距（padding-right/left）：0.7 毫米
- 上下段落距(padding-top/bottom)：0.5 毫米
- 颜色color：#3e3e3e


### 引用字体

- 颜色color：#888

### 标题设置

- 在「h」字段设置
- 大标题(h1)：24字号、加粗、有 95% 黑色横条 
- 二级标题(h2)：18字号、加粗、有 75% 黑色横条
- 三级标题(h3) 17字号、加粗 
- 四级标题(h4) 14字号、加粗 
- 五级标题用于摘要和介绍(h5)：14字号
- 六级标题用于标注相关文章(h6)：17字号、加粗、有 120 px 黑色横条，可容纳 6 个以内文字

### 无/有序行距

- 无/有序行距(li/margin)：0.5毫米
- 颜色color：#3e3e3e


### 注意事项：

- 请在纯文本状态下编辑文字，在已转化的文本下再编辑会造成格式错乱。
	+ 这不是 Markdown Here 的 Bug 而是 Markdown Here 本身的设定
	+ 为何如此设定？我也不知道。

### 自定义 CSS 设置不起作用

试试在后面补上!important，就好像这样：

h2 {
  font-size: 20px !important;
}


### 参考链接：

- [Markdown Here](http://markdown-here.com/get.html)
- [你知道吗，在印象笔记里也能用 Markdown 写作 - Matrix](http://matrix.sspai.com/p/b768d1e0)

### Changlog

- 2017-02-15 修订字体为 16 号，六级标题和五级标题改成蓝色
- 2017-02-06 修订字间距及六级标题置中
- 2016-12-15 增加字间距离 
- 2016-10-02 修订为 读立写生 御用版式
- 2016-07-25 调整正文字体为16号，修正部分错误
- 2016-06-23 调整正文字体为16号，正文行距为1.75
- 2016-05-08 陈素封创建

*/ 

pre {
	font-size: 1em;
	line-height: 1.2em;
	font-size: 14px;
	color: #3e3e3e;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-right: 0.7em;
	padding-left: 0.7em;
}

pre code {
	white-space: pre;
	overflow: auto;
}

table, pre, dl, blockquote, q, ul, ol {
	margin: 1.2em 0;
}

ul, ol {
	padding-left: 2em;
	line-height: 1.5em;
	padding-right: 2em;
}

li {
	margin: 0.5em 0;
	line-height: 1.5em;
	font-size: 16px;
	color: #3e3e3e;
	letter-spacing: 0.05em !important;
 /*无序和有序的行距*/
}

ul ul, ul ol, ol ul, ol ol {
	margin: 0;
	padding-left: 1em;
}

ul ul, ul, ul {
	list-style-type: square;
	font-size: 15px;
}

ol ol, ul ol {
	list-style-type: lower-roman;
}

ul ul ol, ul ol ol, ol ul ol, ol ol ol {
	list-style-type: lower-alpha;
}

dl {
	padding: 0;
	color: #3e3e3e;
}

dl dt {
	font-size: 1em;
	color: #3e3e3e;
	font-style: italic;
}

dl dd {
	margin: 0 0 1em;
	padding: 0 1em;
	color: #3e3e3e;
}

blockquote, q {
	border-left: 4px solid #888;
	padding: 0 0.5em;
	color: #888!important;
	quotes: none!important;
	padding-right: 0.2em;
	padding-left: 0.5em;
	margin: 0.5em;
}

blockquote::before, blockquote::after, q::before, q::after {
	content: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 1.3em 0 1em;
	padding: 0;
	font-weight: bold;
}

h1 {
	font-size: 24px;
	min-height: 32px;
	line-height: 30px;
	border-bottom: solid 1px #000000;
	color: rgb(0, 0, 0);
	display: inline-block;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-color: rgb(51, 51, 51);
	padding-top: 5px;
	padding-right: 0.5em;
	padding-left: 0.5em;
	margin-bottom: -3px;
	margin: 1em auto;
	padding: 0.5em 0;
	text-align: center;
	width: 95%;
	font-weight: normal;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h2 {
	font-size: 20px;
	min-height: 32px;
	line-height: 28px;
	border-bottom: solid 1px rgb(0, 0, 0);
	color: rgb(0, 0, 0);
	display: inline-block;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-color: rgb(0, 0, 0);
	padding-top: 5px;
	padding-right: 0.5em;
	padding-left: 0.5em;
	margin-bottom: -3px;
	margin: 1em auto;
	padding: 0.5em 0;
	text-align: center;
	width: 75%;
	font-weight: normal;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h3 {
	font-size: 18.5px;
	padding-right: 0.5em;
	padding-left: 0.5em;
}

h4 {
	font-size: 17px;
	padding-right: 0.5em;
	padding-left: 0.5em;
	border-bottom: 2px solid #f5ca02;
	width: 120px
}

h5 {
	font-size: 16px;
	color: #1a95a5;
	padding-right: 1.2em;
	padding-left: 1.2em;
	text-align: center;
}


h6 {
	font-size: 18px;
	min-height: 32px;
	line-height: 14px;
	border-bottom: solid 1px rgb(0, 0, 0);
	color: #1a95a5;
	display: inline-block;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-color: #1a95a5;
	padding-top: 5px;
	padding-right: 0.5em;
	padding-left: 0.5em;
	margin-bottom: -3px;
	margin: 1em auto;
	padding: 0.5em 0;
	text-align: center;
	width: 40%;
	font-weight: normal;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

table {
	padding: 0;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 1em;
	font: inherit;
	border: 0;
}

tbody {
	margin: 0;
	padding: 0;
	border: 0;
}

table tr {
	border: 0;
	border-top: 1px solid #CCC;
	background-color: white;
	margin: 0;
	padding: 0;
}

table tr:nth-child(2n) {
	background-color: #F8F8F8;
}

table tr th, table tr td {
	font-size: 1em;
	border: 1px solid #CCC;
	margin: 0;
	padding: 0.5em 1em;
}

table tr th {
	font-weight: bold;
	background-color: #F0F0F0;
}

p {
	font-size: 16px;
	line-height: 1.8em;
	padding-top: 0.9em;
	padding-bottom: 0.9em;
	padding-right: 0.7em;
	padding-left: 0.7em;
	letter-spacing: 0.05em !important;
}；